@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Fixel-black';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@font-face {
    font-family: 'Fixel-black';
    src: local('Fixel-black'), local('Fixel-black'), url('/fonts/FixelText-Light.woff2') format('woff2'),
        url('/fonts/FixelText-Light.woff2') format('woff');
    font-style: normal;
    font-display: swap;
}
